
body,html {
 background-image: url('assets/f.jpeg');
 height: 100%;
 width: 100%;
 position: center;
 font-family: helvetica;
}
.header{
    text-align: center;
    margin: 24px 0 12px 0;
    padding-top: 30px;
}

img.logo {
    width: 320px;
}

.box{
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;

}

.content{
    width:40%; 
    margin-left:30%;
    margin-top: 5%;
}

form {
    width: 20%;
    background-color: white;
    margin-left: 30%;
    margin-top: 10%;
    opacity: 0.97;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: black;
    display: inline-block;
    border: 1px solid darkgray;
    box-sizing: border-box;
}

button {
    background-color: #35b9b2;
    border-radius: 5px;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
}
.response{
    position: center;
}

@media screen and (max-width: 500px) {
    
    button {
        float: left;
        width: 100%;
    }
    form{
        width: 80%;
        margin-left: 10%;
    }
    .content{
    width:60%; 
    margin-left:20%;
    margin-top: 5%;
}
}

@media screen and (min-width: 500px) and (max-width: 650px) {
    
    button {
        float: left;
        width: 100%;
    }
    form{
        width: 65%;
        margin-left: 17.5%;
    }
    .content{
    width:60%; 
    margin-left:20%;
    margin-top: 5%;
