
body,html {
  background-image: url('assets/bd2.jpg');
  height: 100%;
  width: 100%;
 font-family: helvetica;
}

.user{
  width: 70%;
  background-color: white;
  margin-left: 15%;
  margin-top: 2%;
  opacity: 0.97;
}

.headusertxt{
  width: 100%;
  background-image: url("assets/bd2.jpg");
  height: 100px;
}

#tabela3{ 
  margin-left:10%;
  border: 1px solid darkgray; 
  width: 80%; 
  margin-bottom: 10px;
} 
#cabtab3{ 
 background-color: #35b9b2;
 font-weight: bold; 
 font-size: 8pt; 
 padding: 2 2 2 2px; 
 height: 25px;
 text-align: center;
 line-height: 25px;
} 
#corpotab3{ 
 font-size: 8pt; 
 padding: 2 2 2 2px; 
 height: 25px;
 text-align: center;
 line-height: 25px; 
} 

.dadosc {
  padding-left: 10%;
  color: gray;
  bottom: 0;
}

.txt {
  width:80%;
  text-align: center;
  padding-top:40px;
  padding-left: 10%;
  margin-bottom: 20px;
  height: 50px;
}

.deslog {
  float: right;
  padding-top: 15px;
  padding-right: 15px;
}
.btn {
  text-align: center;
  height: 70px;
}
button {
  background-color: #35b9b2;
  border-radius: 5px;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}
button:hover {
  opacity: 0.8;
}